@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --primary:rgb(239, 54, 3);
    --secondary:#0b0b0b;
    --light:rgb(110, 107, 107);
    --tertiary:white;

}
.contacticons{
    height: 200px;
    display: flex;
    justify-content: space-around;
}
.contacticondetail{
    padding-top: 25px;
    height: 200px;
    display: flex;
    justify-content: space-around;
}
.contacticondetail a{
    color: var(--primary);
    font-size: 20px;
}
.contacticondetail2{
    padding-top: 25px;
   margin-left: 30px;
    height: 200px;
    display: flex;
    justify-content: space-around;
}
.contacticondetail2 a{
    color: var(--primary);
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.9s ease-in-out;
}
.contacticondetail2 a:hover{
    color: black;
    text-decoration: none;
}
.contactus{
    margin-top: 70px;
}
.contactus h1{
    margin: 20px;
    color: var(--primary);
    text-align: center;
    font-family: poppins;
    font-weight: bold;
    border-left: 15px solid var(--primary);
    border-right: 15px solid var(--primary);
    border-radius: 15px;

}


/* .contactdiv {
    height: 300px;
   position: relative;
}

.contactdiv .firsticon {
    
    background-color: #0b0b0b;
    top: 30px; 
    left: 20px;
    position: absolute;
    
}
.contactdiv .secondicon{
    background-color: aqua;
    top: 30px; 
    left: 20px;
    position: absolute;
}
.contactdiv .thirdicon{
    background-color: rgb(11, 171, 16);
    top: 30px; 
    left: 20px;
    position: absolute;
} */